@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  line-height: 1.5;
}

#app {
  width: 900px;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}


.search-box {
  padding-bottom: 1em;
  font-size: 24px;
  text-align: center;
}

.search-box input[type=text] {
  width: 100%;
  border: 0;
  box-shadow: 3px 3px 3px #888888;
  font-size: 24px;
  height: 30px;
}

.post-row a {
  display: block;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: 1px solid #f0f0f0;
  text-decoration: none;
  color: #333;
}

.post-row a:hover {
  background-color: #f0ffff;
}

.posts {
  background-color: white;
  box-shadow: 3px 3px 3px #888888;
}

.loading {
  background-image: url('spinning-wheel.gif');
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 100%;
}

.section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.post-detail-card {
  padding: 0.5em;
  background-color: white;
  box-shadow: 3px 3px 3px #888888;
}

.post-detail-card .post-retweeted-status {
  padding: 0.2em;
  margin: 1em 0.25em 0.25em 0.25em;
  border: 1px dashed #999;
}

.comments-table {
  width: 100%;
  padding: 0.5em;
  background-color: white;
  box-shadow: 3px 3px 3px #888888;
  border-spacing: 0;
}

.comment-table-row td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

.comment-table-row .labels {
  font-size: 14px;
}

.comment-label-list {
  display: inline-block;
  line-height: 1.2;
  cursor: pointer;
}

.comment-label {
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-radius: 0.5em;
  background-color: #888;
  color: white;
}

.comment-label-placeholder {
  color: #999;
}

.comment-label-admin {
  background-color: #900000;
}

.comment-label-editor {
  width: 100%;
}


.label-editor {
  padding: 0.5em;
  width: 100%;
  background-color: white;
  box-shadow: 3px 3px 3px #888888;
}

.label-editor .filter-input {
  width: 100%;
  font-size: 18px;
}

.label-editor .action-input {
  width: 100%;
  font-size: 18px;
}

.label-editor td {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.label-editor td.editor-label {
  width: 100px;
}

.action-button {
  display: inline-block;
  background-color: #900000;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 80px;
  cursor: pointer;
  text-align: center;
  box-shadow: 3px 3px 3px #888888;
}
